input[type="number"] {
	width: 50px;
}

th {
	border: 0px;
}

th, td {
	padding: 2px;
	min-height: 25px;
	min-width: 25px;
}

th[row], th[column], td {
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

td {
	cursor: pointer;
}

th > div, td > div {
	width: 50px;
	height: 50px;
	background: none;
}

td.active {
	background: yellow;
}
td.active.reveal[value="1"] {
	background: green;
}
td.active.reveal[value="0"] {
	background: red;
}
td.reveal[value="1"] {
	background: #aea;
}
td.reveal[value="0"] {
	background: #e79;
}

h1, h2, h3 {
	text-align: center;
}

.flex {
	display: flex;
	flex-direction: row;
}

.flex.flex-row {
	
}

.flex.flex-column {
	flex-direction: column;
}
