@media print {
  @page {
    orientation: landscape;
    margin: 0.20in;
  }
  body {
    margin: 0px !important;
  }
  .page {
    page-break-inside: avoid;
    page-break-after: always;
    margin: 0px !important;
    overflow: hidden;
    border-width: 0px !important;
  }
  input, textarea {
    background: white !important;
  }
  a {
    color: black;
    text-decoration: inherit;
  }
  .do-not-print {
    display: none !important;
  }
}
@media screen {
  body {
    background: #DDD;
  }
  .print-only {
    display: none !important;
  }
}
.page {
  padding: 0cm;
  background: white;
  border: 0px solid black;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.page,
.page.portrait {
  overflow: hidden;
  width: 8.0in;
  height: 10.5in;
}
.page.landscape {
  width: 10.5in;
  height: 8.0in;
}
.page::before {
  position: absolute;
  top: 0px;
  right: 1px;
  text-align: right;
  counter-increment: pageNumber;
  content: counter(pageNumber);
}

.keep-together {
  page-break-inside: avoid;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  font-family: "Arial", Gadget, sans-serif;
}
body {
  counter-reset: pageNumber;
}
a {
  color: blue;
  text-decoration: inherit;
}
input, textarea {
  background: #DDD;
  border: 0px;
}
textarea {
  resize: none;
}
input[type=number].no-spinner::-webkit-inner-spin-button, 
input[type=number].no-spinner::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input.resizing {
  min-width: 5px;
  padding: 1px;
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 15px;
}
ul.li-none {
  list-style-type: none;
}
.no-bottom {
  -webkit-margin-after: 0;
}
.no-top {
  -webkit-margin-before: 0;
}

table {
  border-collapse: collapse;
}

hr {
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.25em;
  -webkit-margin-after: 0.25em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
  border-color: #888;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

.anchor {
  position: relative;
}

.hide-el {
  display: none;
}

.flex-row,
.flex-col {
  display: flex !important;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
.flex-col-wrap {
  display: flex;
  flex-flow: column wrap;
}
.flex-1 {
  flex: 1 !important;
}
.flex-2 {
  flex: 2 !important;
}
.flex-3 {
  flex: 3 !important;
}
.flex-4 {
  flex: 4 !important;
}
.flex-5 {
  flex: 5 !important;
}
.flex-6 {
  flex: 6 !important;
}
.width-full, .width-100 {
  width: 100%;
}
.height-full, .height-100 {
  height: 100%;
}

.auto-column-span {
  column-span: all;
}
.auto-column-2 {
  column-count: 2;
}
.auto-column-3 {
  column-count: 3;
}
.auto-column-4 {
  column-count: 4;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.vertical-align-top {
  vertical-align: top;
}
.vertical-align-middle {
  vertical-align: middle;
}
.vertical-align-bottom {
  vertical-align: bottom;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
.font-italic,
.font-italics {
  font-style: italic;
}
.font-normal,
.font-no-italic,
.font-no-italics {
  font-style: normal !important;
}
.font-bold {
  font-weight: bold;
}
.font-no-bold,
.font-normal {
  font-weight: normal !important;
}
.font-underline {
  text-decoration: underline;
}
.font-strikethru {
  text-decoration: line-through;
}
.font-overline {
  text-decoration: overline;
}
.font-underline.font-strikethru {
  text-decoration: underline line-through;
}
.font-underline.font-overline {
  text-decoration: underline overline;
}
.font-strikethru.font-overline {
  text-decoration: line-through overline;
}
.font-underline.font-strikethru.font-overline {
  text-decoration: underline line-through overline;
}
.h1.font-bold,
.h2.font-bold,
.h3.font-bold,
.h4.font-bold,
.h5.font-bold,
.h6.font-bold {
  font-family: "Arial Black", Gadget, sans-serif;
}
.h1 {
  font-size: 36px;
}
.h1 sup {
  font-size: 30px;
}
.h2 {
  font-size: 24px;
}
.h2 sup {
  font-size: 20px;
}
.h3 {
  font-size: 20px;
}
.h3 sup {
  font-size: 16px;
}
.h4 {
  font-size: 16px;
}
.h4 sup {
  font-size: 12px;
}
.h5 {
  font-size: 14px;
}
.h5 sup {
  font-size: 10px;
}
.long-text p + p,
.long-text ul + p {
  text-indent: 1em;
}
p {
  -webkit-margin-before: 0.25em;
  -webkit-margin-after: 0.25em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  text-align: justify;
}
p + p {
  -webkit-margin-before: 0.5em;
}
.blurb-paragraph,
.h6 {
  font-size: 12px;
}
.h6 sup {
  font-size: 8px;
}
p,
.h7 {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.h7 sup {
  font-size: 7px;
}
.clickable {
  cursor: pointer;
}
span.symbol {
  position: relative;
}
span.symbol.empty.check::before,
span.symbol.empty.checked::before {
  content: "✔";
  position: absolute;
  color: black;
  z-index: 2;
  transform: scale(0.6);
}
span.symbol::after {
  content: "⬛";
  position: relative;
  z-index: 1;
}
span.symbol.diamond::after {
  content: "■";
}
span.symbol.empty::after {
  content: "❏";
}
.fade, .faded,
span.symbol.fade::before,
span.symbol.faded::before,
span.symbol.fade,
span.symbol.faded,
span.symbol.fade::after,
span.symbol.faded::after {
  color: #AAA !important;
}

.padding,
.padding-top {
  padding-top: 2px;
}
.padding,
.padding-right {
  padding-right: 2px;
}
.padding,
.padding-bottom {
  padding-bottom: 2px;
}
.padding,
.padding-left {
  padding-left: 2px;
}
.padding-big,
.padding-top-big {
  padding-top: 4px;
}
.padding-big,
.padding-right-big {
  padding-right: 4px;
}
.padding-big,
.padding-bottom-big {
  padding-bottom: 4px;
}
.padding-big,
.padding-left-big {
  padding-left: 4px;
}

.border,
.border-top {
  border-top: 2px solid black;
}
.border,
.border-right {
  border-right: 2px solid black;
}
.border,
.border-bottom {
  border-bottom: 2px solid black;
}
.border,
.border-left {
  border-left: 2px solid black;
}
.border-big,
.border-top-big {
  border-top: 4px solid black;
}
.border-big,
.border-right-big {
  border-right: 4px solid black;
}
.border-big,
.border-bottom-big {
  border-bottom: 4px solid black;
}
.border-big,
.border-left-big {
  border-left: 4px solid black;
}

.margin,
.margin-top {
  margin-top: 2px;
}
.margin,
.margin-right {
  margin-right: 2px;
}
.margin,
.margin-bottom {
  margin-bottom: 2px;
}
.margin,
.margin-left {
  margin-left: 2px;
}
.margin-big,
.margin-top-big {
  margin-top: 4px;
}
.margin-big,
.margin-right-big {
  margin-right: 4px;
}
.margin-big,
.margin-bottom-big {
  margin-bottom: 4px;
}
.margin-big,
.margin-left-big {
  margin-left: 4px;
}

.shadow {
  box-shadow: 2px 2px #666;
}
tr > * {
  padding: 0px 1px;
}
tr > *:first-child {
  padding-left: 0px;
}
tr > *:last-child {
  padding-right: 0px;
}
