<html ng-app="myApp" ng-controller="mySystems">
<head>
  <meta charset="utf-8" />
  <title>Star*Drive Notable Verge Systems</title>
  <link rel="stylesheet" href="vergesystem.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="systemcoordinates.js"></script>
  <script src="system_controller.js"></script>
</head>

<body>

  <div class="page landscape flex-row">
    <div class="legend flex-col">
      <div>
        <table>
          <thead>
            <tr>
              <th class="system-name">System</th>
              <th class="system-coord x">X</th>
              <th class="system-coord y">Y</th>
              <th class="system-coord z">Z</th>
              <th class="system-delta">D</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="flex-1">
        <table>
          <tbody>
            <tr ng-repeat="s in systems track by $index">
              <td class="system-name">{{s.system}}</td>
              <td class="system-coord x">{{s.x.toFixed(2)}}</td>
              <td class="system-coord y">{{s.y.toFixed(2)}}</td>
              <td class="system-coord z">{{s.z.toFixed(2)}}</td>
              <td class="system-delta" system-name="{{s.system}}"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="map flex-1 flex-col">
      <div class="flex-1" style="text-align: center; font-size: 16px; font-weight: bold;">Star*Drive Notable Verge Systems</div>
	  <div class="flex-1" style="text-align: center; font-size: 12px;"><a href="./vergemap.jpg">(Original Map)</a></div>
      <div class="flex-row">
        <div class="flex-1"></div>
        <div id="map-holder">
          <!--
          <svg id="solar-system-map" style="background: black;">
            <g class="master-translate">
              <g class="axis">
                <line x1="0" x2="0" y1="-270" y2="270"></line>
                <g style="opacity: 0.3;">
                  <g ng-repeat="n in getNumber(9) track by $index" ng-init="nS = (1 + n) * 30">
                    <line class="tick long"
                          x1="-240" x2="240" y1="{{0 - nS}}" y2="{{0 - nS}}"></line>
                    <line class="tick long"
                          x1="-240" x2="240" y1="{{0 + nS}}" y2="{{0 + nS}}"></line>
                  </g>
                  <g ng-repeat="n in getNumber(8) track by $index" ng-init="nS = (1 + n) * 30">
                    <line class="tick"
                          x1="{{0 - nS}}" x2="{{0 - nS}}" y1="-270" y2="270"></line>
                    <line class="tick"
                          x1="{{0 + nS}}" x2="{{0 + nS}}" y1="-270" y2="270"></line>
                  </g>
                </g>
                <g ng-repeat="n in getNumber(9) track by $index" ng-init="nS = (1 + n) * 30">
                  <line class="tick"
                        x1="-5" x2="5" y1="{{0 - nS}}" y2="{{0 - nS}}"></line>
                  <line class="tick"
                        x1="-5" x2="5" y1="{{0 + nS}}" y2="{{0 + nS}}"></line>
                </g>
                <line x1="-240" x2="240" y1="0" y2="0"></line>
                
                <g ng-repeat="n in getNumber(8) track by $index" ng-init="nS = (1 + n) * 30">
                  <line class="tick"
                        x1="{{0 - nS}}" x2="{{0 - nS}}" y1="-5" y2="5"></line>
                  <line class="tick"
                        x1="{{0 + nS}}" x2="{{0 + nS}}" y1="-5" y2="5"></line>
                </g>
                
              </g>
              <g id="travel-path"></g>
              <g class="solar-systems">
                <g class="solar-system"
                   ng-repeat="s in systems track by $index"
                   style="transform: translate({{scaleX(s.x)}}px, {{scaleY(s.y)}}px);"
                   system="{{s.system}}"
                   x="{{s.x}}"
                   y="{{s.y}}"
                   z="{{s.z}}"
                   onclick="star_onclick( $(this) );">
                  <circle cx="0" cy="0" style="fill: {{colorZ(s.z)}};"></circle>
                </g>
              </g>
            </g>
          </svg>
          -->
        </div>
        <div class="flex-1"></div>
      </div>
      <div class="flex-1"></div>
    </div>
    <!--
    <div class="legend flex-col" style="background: white;">
      <div>
        <div style="text-align: center;"><button onclick="clearRoute();">Clear Route</button></div>
        <table>
          <thead>
            <tr>
              <th class="system-name">System</th>
              <th class="system-coord x">X</th>
              <th class="system-coord y">Y</th>
              <th class="system-coord z">Z</th>
              <th class="system-delta">D</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="flex-1">
        <table>
          <tbody id="system-click-target"></tbody>
        </table>
      </div>
      -->
    </div>
  </div>
  
</body>
</html>
