<html ng-app="myApp" ng-controller="myPlaybooks">
<head>
  <meta charset="utf-8" />
  <title>Star World: Playbooks</title>
  <script src="js/stretchy.min.js" data-filter=".resizing" async></script>
  <link rel="stylesheet" href="css/playbooks.css" />
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/utility.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/pb_moves.js"></script>
  <script src="js/pb_xp.js"></script>
  <script src="jsPlaybooks/pbDef_brick.js"></script>
  <script src="jsPlaybooks/pbDef_psion_esper.js"></script>
  <script src="jsPlaybooks/pbDef_psion_porter.js"></script>
  <script src="jsPlaybooks/pbDef_psion_pusher.js"></script>
  <script src="jsPlaybooks/pbDef_psion_shaper.js"></script>
  <script src="jsPlaybooks/pbDef_psion_teke.js"></script>
  <script src="js/controller_playbooks.js"></script>
<!-----------------------------------------------------------------------------
  Start of NG-TEMPLATES
------------------------------------------------------------------------------->
  <script type="text/ng-template" id="playbookLongText">
    <div ng-repeat="child in FEAT.children track by $index">
      <p ng-if="child.type == 'p'" class="{{child.class}}"><span ng-repeat="s in child.list track by $index" class="{{s.class}}" style="{{s.style}}">{{s.text}}</span></p>
      <ul ng-if="child.type == 'ul'" class="{{child.class}}">
        <li ng-repeat="l in child.list track by $index"><span ng-repeat="s in l track by $index" class="{{s.class}}" style="{{s.style}}">{{s.text}}</span></li>
      </ul>
      <textarea ng-if="child.type == 'textarea'"
                class="{{child.class}}"
                style="{{child.style}}"
                rows="{{child.rows}}"></textarea>
      <input ng-if="child.type == 'input'"
             type="{{child.type2 || 'text'}}"
             class="{{child.class}}"
             style="{{child.style}}" />
    </div>
  </script>

  <script type="text/ng-template" id="playbookStatBox">
    <div class="stat">
      <div class="border anchor">
        <input type="number" min="-2" max="3" class="no-spinner h4 font-bold text-center width-100" />
        <div class="h5 font-bold text-center">{{stat.label}}</div>
        <span class="clickable symbol empty" style="position: absolute; top: -4px; left: 1px;"></span>
      </div>
      <ul class="h7" style="-webkit-margin-before: 0; -webkit-margin-after: 0">
        <li ng-repeat="move in stat.moves track by $index">{{move.label}}</li>
      </ul>
    </div>
  </script>

  <script type="text/ng-template" id="playbookStatTable">
    <div class="anchor">
      <span class="h4 font-bold float-left" style="margin-right: 6px;">Stats</span>
      <span class="h7 inline-block" style="padding-top: 9px;">{{stats.instructions}}</span>
    </div>
    <div>
      <table class="width-100">
        <tbody>
          <tr>
            <td ng-repeat="stat in stats.list track by $index"
                ng-include="'playbookStatBox'"
                class="vertical-align-top stat" style="width: 19%;"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </script>

  <script type="text/ng-template" id="playbookHarm">
    <div class="long-text auto-column-2">
      <div class="keep-together auto-column-span width-100">
        <div class="anchor">
          <span class="h4 font-bold">Harm</span>
          <span class="h7 text-justify inline-block" style="position: absolute; left: 55px; right: 1px; bottom: 1px;">When <span class="font-bold">you are directed to mark Harm,</span> mark off one Harm box for each harm inflicted.</span>
        </div>
      </div>
      
      <div class="keep-together" ng-repeat="harmBox in harmBoxes track by $index" style="{{harmBox.style}}">
        <div>
          <div class="float-left float-margins">
            <span ng-repeat="symbol in harmBox.symbols"><span class="h5 symbol empty clickable" ng-repeat="n in repeatNTimes( symbol.count )"></span></span>
            <span class="h5 font-bold">{{harmBox.label}}</span>
          </div>
          <p class="harm-box-details">{{harmBox.text}}</p>
        </div>
      </div>
  </script>

  <script type="text/ng-template" id="playbookFoibles">
    <div class="long-text">
      <div class="anchor">
        <span class="h4 font-bold">Foibles</span>
        <span class="h7 text-justify inline-block" style="position: absolute; bottom: 0px; right: 1px; left: 69px;">Foibles are your motivations and habits that you have trouble ignoring. When you choose to gain a Foible, write it below. <span class="font-bold">When a Foible applies to the current situation,</span> choose 1:</p>
      </div>
      <ul>
        <li>Decline the offer to apply your Foible, and continue playing as normal.</li>
        <li>Apply your Foible. You have Disadvantage going forward.</li>
      </ul>
      <div class="anchor margin-top margin-bottom border" ng-repeat="n in repeatNTimes(3) track by $index">
        <select class="h7 width-100"
                ng-model="uniqueInputModel.playbooks[playbook.trope2].foibles[$index]">
          <option class="h7 font-normal font-no-bold" value="">Create your own</option>
          <option class="h7 font-normal font-no-bold"
                  ng-repeat="foible in foibles"
                  value="{{foible.text}}">{{foible.label}}: {{foible.text}}</option>
        </select>
        <!--
        ng-show="uniqueInputModel.playbooks[playbook.trope2].foibles[$index] == ''"
        -->
        <textarea class="width-100 h7" rows="3" ng-value="uniqueInputModel.playbooks[playbook.trope2].foibles[$index]"></textarea>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="playbookGear">
    <div class="long-text anchor flex-1 flex-col">
      <div class="anchor">
        <span class="h4 font-bold">Gear & Vehicles</span>
        <span class="h7 inline-block" style="position: absolute; bottom: 1px; right: 1px; left: 147px;">When <span class="font-bold">you get ready for action and select your Loadout.</span> Choose items from your Gear list equal to the same number of your Gear slots.</span>
      </div>
      <div class="border padding flex-1 flex-col">
        <div class="anchor flex-1 flex-col">
          <textarea class="width-100 h6 flex-1" style="text-indent: 105px;"></textarea>
          <div style="position: absolute; top: -4px; left: 0px;">
            <span class="font-bold h6">Slots: </span><span class="clickable symbol empty checked h5" ng-repeat="n in repeatNTimes(3) track by $index"></span><span class="clickable symbol empty h5" ng-repeat="n in repeatNTimes(2) track by $index"></span>
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="playbookMoves">
    <div class="anchor">
      <span class="h4 float-left font-bold capitalize" style="margin-right: 6px;">{{playbook.trope}} Moves</span>
      <span class="h7 text-justify inline-block" style="padding-top: 9px;">Choose 2 {{playbook.trope}} moves and 1 more from any playbook.</span>
    </div>
    <div class="auto-column-2">
      <div class="keep-together margin-top margin-bottom" ng-repeat="move in playbook.moves track by $index">
        <div class="float-left float-margins">
          <span class="clickable symbol empty h5 {{move.symbolClass}}"></span>
          <span class="h5 font-bold">{{move.label}}</span>
        </div>
        <div ng-init="FEAT = move" ng-include="'playbookLongText'" class="move-details-block"></div>
      </div>
    </div>
    <div class="anchor flex-1 margin-top margin-bottom flex-col">
      <div style="position: absolute; left: 2px; top: 0px;">
        <span class="h5 font-bold">Other Moves</span>
      </div>
      <textarea class="flex-1 width-100 h6" style="text-indent: 98px;"></textarea>
    </div>
  </script>

  <script type="text/ng-template" id="playbookCalamity">
    <div class="long-text">
      <div>
        <span class="h4 font-bold">Calamity</span>
      </div>
      <p><span class="font-bold">Mark a calamity that is relevant to your situation,</span> describe the consequences mentioned in your choice and take an Improvement. If appropriate, you may write a Foible about it.</p>
      <div class="h6" ng-repeat="calamity in playbook.calamities track by $index">
        <p><span class="clickable symbol empty h6"></span> {{calamity.text}}</p>
        <ul ng-if="calamity.list && calamity.list.length > 0" class="font-italic h7">
          <li ng-repeat="s in calamity.list track by $index">{{s}}</li>
        </ul>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="playbookCreation">
    <div class="long-text auto-column-2">
      <div style="column-span: all;">
        <span class="h4 font-bold">Making a <span class="capitalize">{{playbook.trope}}</span></span>
      </div>

      <div class="keep-together">
        <div class="float-left float-margins">
          <span class="h5 font-bold">Name:</span>
        </div>
        <p class="no-top character-creation-details">Choose a name or make up your own:</p>
        <p class="text-left">{{playbook.names}}</p>
      </div>

      <div class="keep-together">
        <div class="float-left float-margins">
          <span class="h5 font-bold">Look:</span>
        </div>
        <p class="no-top character-creation-details">Choose a pronoun and up to 4:</p>
        <p class="text-left">Him, Her, Them, It, Em, Zim, Per, Sir, Ver, [name].</p>
        <p class="text-left">{{playbook.looks}}</p>
      </div>

      <div class="keep-together">
        <div class="float-left float-margins">
          <span class="h5 font-bold">Stats:</span>
        </div>
        <p class="no-top character-creation-details">
          <span>Assign your stats.</span>
          <span ng-if="playbook.statAdvice">{{playbook.statAdvice}}</span>
        </p>
      </div>

      <div class="keep-together">
        <div class="float-left float-margins">
          <span class="h5 font-bold">Moves:</span>
        </div>
        <p class="no-top character-creation-details">Choose 2 {{playbook.trope}} moves and 1 move from any playbook.</p>
      </div>

      <div class="keep-together">
        <div class="float-left float-margins float-margins">
          <span class="h5 font-bold">Foibles:</span>
        </div>
        <p class="no-top character-creation-details">Create 1 to 3 Foibles. If you don't accept a foible very often, consider replacing it.</p>
      </div>

      <div class="keep-together">
        <div class="float-left float-margins">
          <span class="h5 font-bold">Gear:</span>
        </div>
        <p class="no-top character-creation-details">{{playbook.gearInstructions}}</p>
        <div ng-repeat="g in playbook.gear track by $index">
          <span class="h6 clickable symbol empty"></span>
          <span class="h7">{{g}}</span>
        </div>
      </div>

    </div>
  </script>

  <script type="text/ng-template" id="basicMoves">
    <div class="keep-together column-span">
      <div class="float-left float-margins">
        <span class="h4 font-bold">Basic Moves</span>
      </div>
      <p class="no-top basic-move-details">Every character has access to these moves.</p>
    </div>

    <div ng-repeat="move in moves.basic" class="keep-together long-text margin-top margin-bottom">
      <div class="h5 font-bold capitalize">{{move.label}}</div>
      <div ng-init="FEAT = move" ng-include="'playbookLongText'"></div>
    </div>
  </script>
<!-----------------------------------------------------------------------------
-------------------------------------------------------------------------------
  End of NG-TEMPLATES
-------------------------------------------------------------------------------
------------------------------------------------------------------------------->
</head>

<body>

  <div class="do-not-print border control-width">
    <div class="text-center h6 font-italic auto-column-span">This section is not printed.</div>

    <div class="h6">
      <input type="checkbox"
             ng-model="uniqueInputModel.controls.showMoveReference"
             ng-value="uniqueInputModel.controls.showMoveReference" />
      <span>Include Basic Move Reference Sheet Between Playbooks (recommended for double sided printing)</span>
    </div>
  </div>

  <div ng-repeat="playbook in playbooks track by $index"
       ng-init="uniqueInputModel.playbooks[playbook.trope2] = {name: '', trope: playbook.trope, foibles: ['', '', '']};">

    <div class="page landscape page-count flex-row"
         pb-side="a"
         id="playbook-{{playbook.trope2}}">

      <div class="flex-2 padding-left padding-right flex-col">

        <div class="flex-row">
          <div class="flex-1 margin-right">
            <div class="margin-top margin-bottom">
              <div class="anchor">
                <input type="text" class="border-bottom font-bold h4 text-center width-100" />
                <span class="h6 font-bold" style="position: absolute; top: 0px; left: 1px;">Name:</span>
              </div>
              <div class="text-center">
                <span class="h4 font-bold capitalize">The </span>
                <span class="h3 font-bold uppercase">{{playbook.trope}}</span>
              </div>
            </div>
            <div class="margin-top margin-bottom border anchor">
              <textarea class="width-100 h6"
                        style="text-indent: 44px;"
                        rows="4"></textarea>
              <span class="h6 font-bold"
                    style="position: absolute; top: 0px; left: 3px;">Look:</span>
            </div>
          </div>
          <div class="margin-left" style="width: 200px;">
            <div class="h5">
              <span class="h5 font-bold">Experience:</span>
              <span class="clickable symbol empty" ng-repeat="n in repeatNTimes(5)"></span>
            </div>
            <div class="long-text">
              <p ng-repeat="paragraph in xp.earn track by $index"><span ng-repeat="s in paragraph track by $index" class="{{s.class}}" style="{{s.style}}">{{s.text}}</span></p>
              <ul class="font-italic no-bottom">
                <li ng-repeat="reward in xp.rewards track by $index">{{reward}}</li>
              </ul>
            </div>
          </div>
        </div>

        <div><hr/></div>

        <div class="margin-top margin-bottom">
          <div ng-include="'playbookStatTable'"></div>
        </div>

        <div><hr/></div>

        <div class="margin-top margin-bottom" ng-include="'playbookHarm'"></div>

        <div><hr/></div>

        <div class="margin-top margin-bottom" ng-include="'playbookFoibles'"></div>

        <div><hr/></div>

        <div class="margin-top margin-bottom flex-1 flex-col" ng-include="'playbookGear'"></div>

      </div>

      <div class="vr"><vr/></div>

      <div class="flex-2 padding-left padding-right flex-col">
        <div class="flex-1 flex-col" ng-include="'playbookMoves'"></div>
        <div><hr/></div>
        <div class="margin-top margin-bottom" ng-include="'playbookCreation'"></div>
      </div>

      <!--
      <div class="flex-1 padding-left padding-right flex-col">
        <div class="margin-top margin-bottom" ng-include="'playbookCreation'"></div>
      </div>
      -->

    </div>

    <div class="page landscape flex-row" ng-show="uniqueInputModel.controls.showMoveReference">

      <div class="flex-2 padding-left padding-right">

        <div class="auto-column-2">
          <div class="margin-top margin-bottom" ng-include="'basicMoves'"></div>
        </div>

        

      </div>

      <div class="flex-2 padding-left padding-right">

        

      </div>

    </div>

    <!--
    <div class="page landscape page-count flex-row" pb-side="b">
      <div class="flex-2 padding-left padding-right">
        
      </div>

      <div class="flex-1 padding-left padding-right">
        <div class="margin-top margin-bottom" ng-include="'playbookCalamity'"></div>
      </div>

      <div class="flex-1 padding-left padding-right">
        <div class="margin-top margin-bottom" ng-include="'playbookCreation'"></div>
      </div>
    </div>
    -->

  </div>
</body>
</html>
