<html ng-app="myApp" ng-controller="myPlaybooks">
<head>
  <meta charset="utf-8" />
  <title>Star World: Starship Playbooks</title>
  <script src="js/stretchy.min.js" data-filter=".resizing" async></script>
  <link rel="stylesheet" href="css/playbooks.css" />
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> -->
  <script src="js/angular.min.js"></script>
  <script src="js/controller_starships.js"></script>
<!-----------------------------------------------------------------------------
  Start of NG-TEMPLATES
------------------------------------------------------------------------------->
  <script type="text/ng-template" id="includePicture">
    <div class="basic-image-class">
      <img src="{{image.src}}" class="basic-image-class {{image.class}}" style="{{image.style}}"></img>
    </div>
  </script>

  <script type="text/ng-template" id="textareaInput">
    <textarea class="basic-input flex-1" rows="{{textarea.rows}}"></textarea>
  </script>

  <script type="text/ng-template" id="basicInput">
    <input class="basic-input no-spinner {{input.class}}" />
  </script>

  <script type="text/ng-template" id="basicInput_number">
    <input class="basic-input no-spinner {{input.class}}" type="number" min="0" />
  </script>

  <script type="text/ng-template" id="shipFeature">
    <div class="flex-row">
      <div ng-if="parseInt(feat.symbolCount,10) > 0">
        <span ng-repeat="n in repeatNTimes( parseInt(feat.symbolCount,10) ) track by $index"
              class="symbol {{feat.symbol}}"></span>
      </div>
      <div class="flex-1">
        <div class="{{feat.header}}"
             ng-if="String(feat.text1).length > 0 || String(feat.text2).length > 0">
          <span ng-if="String(feat.text1).length > 0"
                class="{{feat.text1Class}}" style="{{feat.text1Style}}">{{feat.text1}}</span>
          <span ng-if="String(feat.text2).length > 0"
                class="{{feat.text2Class}}" style="{{feat.text2Style}}">{{feat.text2}}</span>
          <input ng-if="feat.hasInput"
                 type="{{feat.inputType || 'test'}}"
                 class="{{feat.inputClass}}" style="{{feat.inputStyle}}" />
        </div>
        <div ng-if="feat.children && feat.children.length > 0"
             class="{{feat.childrenClass}}" style="{{feat.childrenStyle}}">
          <div ng-repeat="feat in feat.children track by $index"
               class="{{feat.class}}" style="{{feat.style}}"
               ng-include="'shipFeature'">
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="shipFuse">
    <div class="long-text margin-top margin-bottom">
      <div class="flex-row">
        <table class="flex-1">
          <tbody>
            <tr>
              <td colspan="2" class="text-center">
                <span class="h4 font-bold">{{SF.fuseLabel}} </span>
                <span class="h4 symbol empty"
                      ng-repeat="n in repeatNTimes(5) track by $index"></span>
              </td>
            </tr>
            <tr ng-repeat="row in SF.rows track by $index">
              <td ng-repeat="cell in row track by $index"
                  colspan="{{cell.colspan}}"
                  rowspan="{{cell.rowspan}}"
                  class="{{cell.cellClass}}" style="{{cell.cellStyle}}">
                <input ng-if="cell.type == 'input'"
                       class="{{cell.riderClass}}"
                       style="{{cell.riderStyle}}"
                       type="{{cell.riderType}}"
                       min="{{cell.riderMin}}" max="{{cell.riderMax}}" />
                <div class="{{cell.textClass}}" style="{{cell.style}}">{{cell.text}}</div>
                <input ng-if="cell.type == 'input2'"
                       class="{{cell.riderClass}}"
                       style="{{cell.riderStyle}}"
                       type="{{cell.riderType}}"
                       min="{{cell.riderMin}}" max="{{cell.riderMax}}" />
                <textarea ng-if="cell.type == 'textarea'"
                          class="{{cell.riderClass}}"
                          style="{{cell.riderStyle}}"
                          rows="{{cell.riderRows || 2}}"></textarea>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-repeat="child in SF.children track by $index">
        <p ng-if="child.type == 'p'" class="{{child.class}}" style="{{child.style}}"><span ng-repeat="s in child.list" class="{{s.class}}" style="{{s.style}}">{{s.text}}</span></p>
        <ul ng-if="child.type == 'ul'" class="{{child.class}}" style="{{child.style}}">
          <li ng-repeat="l in child.list"><span ng-repeat="s in l" class="{{s.class}}" style="{{s.style}}">{{s.text}}</span></li>
        </ul>
        <div ng-if="child.type == 'div'" class="{{child.class}}" style="{{child.style}}">
          <span ng-repeat="sym in child.symbols track by $index"><span ng-repeat="s in repeatNTimes( sym.count )" class="symbol {{sym.class}}"></span></span>
          <span class="{{child.textClass}}" style="{{child.textStyle}}">{{child.text}}</span>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="shipDebt">
    <div class="long-text margin-top margin-bottom">
      <div class="flex-row">
        <table class="flex-1">
          <tbody>
            <tr>
              <td colspan="2" class="text-center">
                <span class="h4 font-bold">Debt Fuse </span>
                <span class="h4 symbol empty"
                      ng-repeat="n in repeatNTimes(5) track by $index"></span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="h5 font-bold">Creditor</span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <textarea class="border h6" rows="8"
                          style="width: 100%; height: 100%;"></textarea>
              </td>
            </tr>
            <tr>
              <td class="padding-top text-right">
                <input class="border h6 no-spinner text-center float-right"
                       type="number" style="width: 40px;"
                       min="0" />
                <span class="h5 font-bold margin-right-big">Payments</span>
              </td>
              <td class="padding-top text-left">
                <input class="border h6 no-spinner text-center float-left"
                       type="number" style="width: 25px;"
                       min="-2" max="2" />
                <span class="h5 font-bold margin-left-big">Disposition</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>When <span class="font-bold">you complete an episode</span>, mark one Debt Fuse. When <span class="font-bold">the Debt Fuse is full</span>, reduce your creditor's Disposition by 1, and your Creditor comes looking for you.</p>
      <p>Some moves will allow you to clear the Debt Fuse and reduce your Payments. When your Payments reaches 0, you own your ship.</p>
    </div>
  </script>

  <script type="text/ng-template" id="shipModule">
    <div class="h5">
      <span class="symbol {{mod.symbolClass}}" ng-repeat="n in repeatNTimes( mod.symbolCount )" ng-if="mod.symbolCount && mod.symbolCount > 0"></span><span ng-if="mod.symbols" ng-repeat="sym in mod.symbols"><span ng-repeat="n in repeatNTimes( sym.count )" class="symbol {{sym.class}}"></span></span>
      <span class="h5 font-bold">{{mod.name}}</span>
      <div class="float-right h6" ng-if="mod.hasDischarged" style="padding-top: 2px;">
        <span class="symbol empty circle"></span>
        <span class="h6 font-bold">Discharged</span>
      </div>
    </div>
    <div class="long-text">
      <p class="font-italic" ng-if="mod.tags && mod.tags.length > 0">{{mod.tags}}</p>
      <div ng-repeat="child in mod.children track by $index">
        <p ng-if="child.type == 'p'" class="{{child.class}}">
          <span ng-repeat="s in child.list track by $index" class="{{s.class}}" style="{{s.style}}">{{s.text}}</span>
        </p>
        <ul ng-if="child.type == 'ul'" class="{{child.class}}">
          <li ng-repeat="l in child.list track by $index">
            <span ng-repeat="s in l track by $index" class="{{s.class}}" style="{{s.style}}">{{s.text}}</span>
          </li>
        </ul>
        <textarea ng-if="child.type == 'textarea'"
                  class="{{child.class}}"
                  style="{{child.style}}"
                  rows="{{child.rows}}"></textarea>
        <input ng-if="child.type == 'input'"
               type="{{child.type2 || 'text'}}"
               class="{{child.class}}"
               style="{{child.style}}" />
               
      </div>
    </div>
  </script>
<!-----------------------------------------------------------------------------
-------------------------------------------------------------------------------
  End of NG-TEMPLATES
-------------------------------------------------------------------------------
------------------------------------------------------------------------------->
</head>

<body>
  <div ng-repeat="ship in shipPlaybooks track by $index"
       ng-init="uniqueInputModel.ships[ship.trope2] = {name: '', trope: ship.trope, sizeLabel: ship.sizeLabel, viName: ''};">

    <div class="page landscape flex-row">
      <div class="flex-1 flex-col padding-left-big padding-right-big">

        <div class="margin-top margin-bottom padding flex-row">
          <div class="flex-1">
            <input class="capitalize h3 font-bold text-center"
                   type="text" placeholder="Ship Name" style="width:100%;"
                   ng-model="uniqueInputModel.ships[ship.trope2].name" />
          </div>
        </div>

        <div class="flex-row margin-top margin-bottom text-center">
          <div class="flex-1 do-not-print">
            <input class="capitalize text-right h5 font-bold do-not-print"
                   value="{{sN}}" ng-model="uniqueInputModel.ships[ship.trope2].trope"
                   style="width: 100%;"></input>
          </div>
          <span class="block h5 text-right do-not-print" style="padding-top: 3px;">-Class&nbsp;</span>
          <div class="flex-1 do-not-print" style="padding-top: 2px;">
            <input class="capitalize text-left h5"
                   ng-model="uniqueInputModel.ships[ship.trope2].sizeLabel"
                   style="width: 100%;"></input>
          </div>

          <div class="block flex-1 text-center print-only"><span class="h5 font-bold">{{uniqueInputModel.ships[ship.trope2].trope}}</span><span class="h5">-Class {{uniqueInputModel.ships[ship.trope2].sizeLabel}}</span></div>
          
        </div>

        <div class="border margin-top margin-bottom padding flex-row" style="position: relative;">
          <span class="block h5 font-bold margin-right" style="position: absolute; left: 4px; top: 1px;">Look</span>
          <textarea class="flex-1 h6"           rows="8"
                    style="text-indent: 40px;"
                    ng-model="shipLook"></textarea>
        </div>

        <div class="margin-top margin-bottom">
          <input class="capitalize h4 font-bold text-center"
                 type="text" placeholder="VI's Name" style="width:100%;"
                 ng-model="uniqueInputModel.ships[ship.trope2].viName" />
          <div class="flex-row">
            <div class="flex-1 anchor border margin"
                 ng-repeat="stat in ['Charm', 'Cool', 'Sharp', 'Smarts', 'Tough']">
              <div>
                <input type="number" style="width: 100%;"
                       class="text-center no-spinner h6 font-bold"
                       min="-2" max="1" /></div>
              <div class="h7 font-bold text-center">{{stat}}</div>
            </div>
          </div>
        </div>

        <div><hr/></div>

        <div class="margin-top margin-bottom long-text">
          <div class="text-center">
            <span class="h4 font-bold">Maintenance Clock </span>
          </div>
          <div class="flex-row">
            <div class="flex-1"></div>
            <div>
              <table>
                <tbody>
                  <tr>
                    <td class="h5 text-center">Clear</td>
                    <td class="h5 text-center" style="padding-left: 5px;"
                        ng-repeat="n in repeatNTimes(4) track by $index"><span class="symbol empty"></span></td>
                  </tr>
                  <tr>
                    <td class="h5 text-center">+1</td>
                    <td class="h5 text-center" style="padding-left: 5px;"
                        ng-repeat="n in repeatNTimes(4) track by $index">{{0 - $index}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="flex-1"></div>
          </div>
          <div class="long-text">
            <p>When <span class="font-bold">you complete an episode</span>, mark one Maintenance Clock. When <span class="font-bold">the Maintenance Clock is full</span>, reset the Maintenance Clock and check Maintenance Past Due. If it is already past due, the MC will inflict damage to the ship or a ship system.</p>
            <p>Some moves will allow you to reset the Maintenance Clock and clear the Maintenance Past Due.</p>
          </div>
          <div class="h4">
            <span class="symbol empty"></span><span class="h4 font-bold margin-left">Maintenance Past Due</span>
          </div>
          <p>While <span class="font-bold">Maintenance Past Due is checked</span>, all rolls involving the Ship and its systems are at Disadvantage.</p>
        </div>

        <div><hr/></div>

        <div ng-repeat="SF in shipFuses track by $index"
             ng-show="uniqueInputModel.shipType == '{{SF.key}}' "
             ng-include="'shipFuse'"></div>

        <!--<div ng-include="'shipDebt'"></div>-->
      </div>

      <div class="flex-1 padding-left-big padding-right-big">
        <div class="font-bold h4 text-center">Ship's Harm</div>
        <div class="long-text">
          <p>When <span class="font-bold">your Ship takes Damage</span>, mark off one of the options below for each point of Damage your Ship suffers.</p>
          <p>When <span class="font-bold">your Ship takes Damage and there are no unchecked options to mark off</span>, your Ship is destroyed.</p>
          <p>When you <span class="font-bold">perform Spot Repairs on your Ship</span>, check the Spot Repairs option for the Damage you are repairing, and apply the appropriate effect.</p>
        </div>
        <hr/>
        <div class="long-text">
          <div>
            <span class="symbol empty h5"></span>
            <span class="h5 font-bold">Superficial Damage</span>
          </div>
          <p>Your armor took the damage for you, absorbing some of the damage without compromising the ship. Superficial Damage makes your ship look uglier, but it doesn't have any additional negative effects. You can't Spot Repair Superficial Damage. Some ships have extra armor, allowing additional Superficial Damage to be absorbed.</p>
          <div>
            <span class="h5 font-bold">Extra Damage</span>
            <span class="symbol empty fade h5"
                  ng-repeat="n in repeatNTimes(10)"></span>
          </div>
        </div>
        <hr/>
        <div class="long-text">
          <div class="flex-row">
            <div class="flex-1">
              <span class="symbol empty h5"></span>
              <span class="h5 font-bold">System Hit</span>
            </div>
            <div>
              <span class="symbol empty h6"></span>
              <span class="h6 font-bold">Spot Repairs</span>
            </div>
          </div>
          <div><span class="h6 font-bold">System</span> <span class="font-underline" ng-repeat="n in repeatNTimes(12) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
          <p>One of your Ship's systems has been hit! Fill in which one. Any roll using that Ship System is at Disadvantage.</p>
          <p>When <span class="font-bold">you perform Spot Repairs on a System Hit</span>, you restore normal operation, negate Disadvantage from <span class="font-italic">this</span> System Damage.</p>
        </div>
        <div class="long-text margin-top fade">
          <div class="flex-row">
            <div class="flex-1">
              <span class="symbol empty h5"></span>
              <span class="h5 font-bold">System Hit</span>
            </div>
            <div>
              <span class="symbol empty h6"></span>
              <span class="h6 font-bold">Spot Repairs</span>
            </div>
          </div>
          <div><span class="h6 font-bold">System</span> <span class="font-underline" ng-repeat="n in repeatNTimes(12) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
        </div>
        <!--
        <div class="long-text margin-top fade">
          <div class="flex-row">
            <div class="flex-1">
              <span class="symbol empty h5"></span>
              <span class="h5 font-bold">System Hit</span>
            </div>
            <div>
              <span class="symbol empty h6"></span>
              <span class="h6 font-bold">Spot Repairs</span>
            </div>
          </div>
          <div><span class="h6 font-bold">System</span> <span class="font-underline" ng-repeat="n in repeatNTimes(12) track by $index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
        </div>
        -->
        <hr/>
        <div class="long-text">
          <div class="flex-row">
            <div class="flex-1">
              <span class="symbol empty h5"></span>
              <span class="h5 font-bold">Direct Hit</span>
            </div>
            <div>
              <span class="symbol empty h6"></span>
              <span class="h6 font-bold">Spot Repairs</span>
            </div>
          </div>
          <p>The deck shudders and panels flicker. Any roll using a Ship System is at Disadvantage.</p>
          <p>When <span class="font-bold">you perform Spot Repairs on a Direct Hit</span>, you restore normal operation, negate Disadvantage from Direct Hit.</p>
        </div>
        <hr/>
        <div class="long-text">
          <div class="flex-row">
            <div class="flex-1">
              <span class="symbol empty h5"></span>
              <span class="h5 font-bold">Hull Breach</span>
            </div>
            <div>
              <span class="symbol empty h6"></span>
              <span class="h6 font-bold">Spot Repairs</span>
            </div>
          </div>
          <p>A hole is blasted in the side of your ship and one or more sections are exposed to vacuum.</p>
          <p>When <span class="font-bold">you perform Spot Repairs on a Hull Breach</span>, you restore atmosphere to the vented sections, but you are dangerously low on Life Support, any rolls that require physical exertion are at Disadvantage.</p>
        </div>
        <hr/>
        <div class="long-text">
          <div class="flex-row">
            <div class="flex-1">
              <span class="symbol empty h5"></span>
              <span class="h5 font-bold">Adrift</span>
            </div>
            <div>
              <span class="symbol empty h6"></span>
              <span class="h6 font-bold">Spot Repairs</span>
            </div>
          </div>
          <p>All systems are down. You keep your inertia, but are also at the mercy of any gravity acting on you.</p>
          <p>When <span class="font-bold">you perform Spot Repairs on Adrift</span>, you restore power - barely. You have Disadvantage on all system rolls until you have a chance to enact proper repairs.</p>
        </div>
      </div>

      <div class="flex-2 padding-left-big padding-right-big">
        <div class="h4 font-bold text-center">Ship Moves</div>

        <div class="long-text">
          <div>
            <span class="h5 font-bold">Spot Repairs</span>
          </div>
          <p>When <span class="font-bold">you performs spot repairs on your ship to patch over Damage</span>, describe how you do it. <span class="font-bold">If there are no immediate pressures and you have plenty of time</span>, you do it with little complication. Apply Spot Repairs to one Damage option. <span class="font-bold">If you are under immediate danger or time is limited</span>, <span class="font-bold">act under pressure</span> to complete the repairs, unless you have a move better suited to the job.</p>
        </div>

        <hr/>

        <div class="long-text">
          <div>
            <span class="h5 font-bold">Silent Running</span>
          </div>
          <p>When <span class="font-bold">you power off your active sensors to conceal your vessel</span>, roll+Smarts. <span class="font-bold">On a 10+</span>, hold 2. <span class="font-bold">On a 7-9</span>, hold 1. Spend hold 1 for 1 on the following:</p>
          <ul>
            <li>You escape notice or enemy scans.</li>
            <li>You sneak into a favorable position.</li>
          </ul>
          <p>When you run out of holds or act overtly, you become detectable again.</p>
          <p>On a miss, prepare for the worst.</p>
        </div>

        <hr/>

        <div class="long-text">
          <div>
            <span class="h5 font-bold">Run a Scan</span>
          </div>
          <p>When <span class="font-bold">you assess the situation using your Ship's sensors</span>, you have additional questions you can ask. Any question with the <span class="font-bold">active scan</span> tag temporarily apply the <span class="font-bold">overt</span> tag to your Ship.</p>
          <ul class="auto-column-2">
            <li>What class/size is that detected ship?</li>
            <li><span class="font-italic">(Active Scan)</span> Are there any hiding ships?</li>
            <li><span class="font-italic">(Active Scan)</span> What modules do they have?</li>
            <li><span class="font-italic">(Active Scan)</span> Where are they weak?</li>
            <li><span class="font-italic">(Active Scan)</span> Where are they strong?</li>
          </ul>
        </div>

        <hr/>

        <div class="long-text">
          <div>
            <span class="h5 font-bold"
                  ng-show="!(uniqueInputModel.shipType)">Contract Completed</span>
            <span class="h5 font-bold"
                  ng-repeat="SF in shipFuses track by $index"
                  ng-show="uniqueInputModel.shipType == '{{SF.key}}'">{{SF.missionCompleteStr}}</span>
          </div>
          <p>When <span class="font-bold">your Crew successfully completes a Contract and collects their pay</span> from the client or contact, roll+Contract Rating.</p>
          <ul class="li-none">
            <li><span class="font-bold">On a 13+</span>, you did exceptional well, choose 4.</li>
            <li><span class="font-bold">On a 10-12</span>, you get a great deal, choose 3.</li>
            <li><span class="font-bold">On a 7-9</span>, you get the standard deal, choose 2.</li>
            <li><span class="font-bold">On a 6-</span>, it's a set up or raw deal. You may either walk away with a token payment and Choose 1, or choose 2 and deal with an enemy that's found you and wants to settle things now.</li>
          </ul>
          <ul>
            <li class="font-bold"
                ng-show="uniqueInputModel.shipType == undefined">Select a Motivation to populate your choices.</li>
            <div ng-repeat="SF in shipFuses track by $index"
                 ng-show="uniqueInputModel.shipType == '{{SF.key}}'">
              <li class="font-italic"
                  ng-repeat="choice in SF.getPaidChoices track by $index"
                  ng-if="choice && choice.length > 0">{{choice}}</li>
            </div>
          </ul>
          <p>After you've made your selections and resolved any consequent moves, you need to find more work.</p>
        </div>

        <hr/>

        <div class="long-text">
          <div>
            <div class="float-right">
              <span class="h6">Your Ship's FTL: </span>
              <select class="h6"
                      ng-model="uniqueInputModel.FTL">
                <option class="h6 font-normal font-no-bold"
                        ng-repeat="FTL in FTLs track by $index"
                        value="{{FTL.key}}">{{FTL.label}}</option>
              </select>
            </div>
            <span class="h5 font-bold">FTL Moves</span>
          </div>
          <div ng-if="FTL.moves && FTL.moves.length > 0"
               ng-repeat="FTL in FTLs track by $index"
               ng-show="uniqueInputModel.FTL == '{{FTL.key}}' ">
            <p ng-repeat="move in FTL.moves"><span ng-repeat="piece in move track by $index" class="{{piece.class}}">{{piece.text}}</span></p>
          </div>
        </div>

      </div>
    </div>

    <div class="page landscape flex-row">

      <div class="flex-3 auto-column-3 padding-left padding-right" style="column-gap: 2px;">

        <div class="padding-left padding-right long-text" style="column-span: all;">
          <div class="text-center h4 font-bold">Upgrades &amp; Modules</div>
          <p>Your ship starts with 4 Upgrade points to buy your starting Modules and may have up to 10 Modules installed. Modules without a box to mark do not count against your maximum Modules.</p>
          <p>When you buy an Upgrade for your ship, check an upgrade box. Unless a Module says otherwise, you need to fill all of the Upgrade boxes before that Module is fully installed and functional in your ship.</p>
          <p>If you are the maximum number of Modules, you have to pull out a Module before you can start installing a new one. You do not get a refund on Upgrade Points.</p>
          <hr/>
        </div>

        <div class="keep-together padding-left padding-right"
             ng-repeat="mod in shipBays track by $index"
             ng-include="'shipModule'"></div>

        <div class="keep-together padding-left padding-right"
             ng-repeat="mod in shipModules track by $index"
             ng-include="'shipModule'"></div>

      </div>

      <div class="flex-1 padding-left-big padding-right-big">

        <div class="text-center h4 font-bold">Making Your Ship</div>

        <div class="long-text">
          <p>The Ship is like another character that is utilized by every member of the Crew.</p>
          <div class="h5 font-bold">Crew Motivation</div>
          <p>Each Crew has a motivation that relates to how they got their Ship. The motivatin determines which clock your Crew contends with: 
            <select class="h6 block text-center" style="width: 100%;"
                    ng-model="uniqueInputModel.shipType">
              <option class="h6 font-normal font-no-bold"
                      ng-repeat="SF in shipFuses track by $index"
                      value="{{SF.key}}">{{SF.label}}</option>
            </select>
          </p>
          <p ng-repeat="SF in shipFuses track by $index"
             ng-show="uniqueInputModel.shipType == '{{SF.key}}' ">{{SF.blurb}}</p>

          <div class="h5 font-bold">Name:</div>
          <p>Decide on a name together. Make it evocative and pronounceable. Does the Ship's VI have the same name?</p>

          <div class="h5 font-bold">Look:</div>
          <p>Choose up to 5:</p>
          <p class="font-italic" ng-repeat="SF in shipFuses track by $index" ng-show="uniqueInputModel.shipType == '{{SF.key}}' ">{{SF.looks}}</p>

          <div ng-repeat="SF in shipFuses track by $index"
               ng-show="uniqueInputModel.shipType == '{{SF.key}}' ">
            <div ng-repeat="CL in SF.creationList track by $index">
              <div class="h5 font-bold">{{CL.title}}</div>
              <p ng-repeat="text in CL.texts track by $index">{{text}}</p>
            </div>
          </div>

          <div class="h5 font-bold">Upgrades & Modules:</div>
          <p>Your ship starts with 4 Upgrade Points to spend on Modules.</p>

          <div class="h5 font-bold">Draw your Ship:</div>
          <p>If you want you can draw a cool picture of your ship, or its basic layout. List a few interesting or important locations on your ship where the crew often interacts.</p>
        </div>

      </div>

    </div>
  </div>
</body>
</html>
